<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="logs\internal.log">

  <targets>
    <!-- &#009;  TAB IN OUTPUT-->
    <target xsi:type="File" name="mainfile" fileName="logs/${logger}_${date:format=yyyyMMdd}.log" layout="${date:format=yyyyMMdd_HHmmss}&#009;${logger}&#009;${uppercase:${level}}&#009;${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="mainfile" />
  </rules>
</nlog>
